useDynLib(gstat)

## once lattice has a NAMESPACE, remove require(lattice) from .onLoad 
## and uncomment the following line:
import(lattice)

export(bpy.colors, bubble, cross.name, fit.lmc, fit.variogram,
	fit.variogram.reml, get.contr, gstat, gstat.cv, "[.gstat",
	krige, krige.cv, makegrid, map.to.lev, mapasp, ossfim,
	point.in.polygon, predict.gstat, select.spatial, show.vgms,
	variogram, variogram.line, vgm, xyz2img, zerodist)

S3method(image, data.frame)

S3method(plot, pointPairs)
S3method(plot, gstatVariogram)
S3method(plot, variogramMap)
S3method(plot, variogramCloud)

S3method(predict, gstat)

S3method(print, gstat)
S3method(print, gstatVariogram)
S3method(print, variogramCloud)
S3method(print, variogramModel)

S3method(variogram, default)
S3method(variogram, formula)
S3method(variogram, gstat)
